body {
  color: #333;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code, pre, .code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 13px;
  line-height: 1;
}

* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

textarea {
  width: 100%;
  max-width: 100%;
}

.app {
  padding: 1em;
  .container {
  }
}

.MuiFormControl-root:not(:first-child) {
  margin-top: 1em;
}
