body {
  color: #333;
  padding: 1em;
}

* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

textarea {
  width: 100%;
  max-width: 100%;
}

.app {
  // margin: 0 auto;
  // width: 960px;
}
