body {
  color: #333;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code, pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

textarea {
  width: 100%;
  max-width: 100%;
}

.app {
  .container {
    padding: 1em
  }
}
