:root {
  --background-color: crimson;
}

nav.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 0;

  .link {
    transition: background-color 0.1s;

    background-color: var(--background-color);
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 1em;

    .title {
      font-weight: bold;
      display: block;
    }

    .description {
      display: block;
    }

    &:hover {
      color: whitesmoke;
    }

    &.active {
      transform: scale(1.05);
      z-index: 1;
    }
  }
}
