nav.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 0;

  a {
    transition: background-color 0.1s;

    background-color: crimson;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 1em;

    .title {
      font-weight: bold;
      display: block;
    }

    .description {
      display: block;
    }

    &:hover {
      background-color: red;
    }
  }
}
